<% content_for :title do %>About<% end %>
    <h1>Our Fake Store</h1>
<div class="text-center">
  <div class="jumbotron-about">
  </div>
  <p>
  Our fake store is located in sunny <strong>New Orleans, Louisiana.</strong>
  </p>
  <p>The food is great, the drinks are cold, and the weather is fantastic.</p>
  <p>Get a little bit of NOLA in your house, place a fake order today!</p>
</div>