/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome";

 .navbar {
  background-color: rgba(238, 238, 238, 0.8);
  border-style: none;
 }

 #home-logo {
  width: 15%;
 }

 #logo {
  width: 50%;
  // margin-top: 10px;
 }

 .jumbotron {
  background-image: image-url('fog_city.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 05%;
  margin-bottom: 0;
}

 .jumbotron-about {
  background-image: image-url('about_new_orleans.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 10%;
  margin-bottom: 0;
  color: #F1F1F1;
}

 a:hover {
  text-decoration: none;
 }

 .panel {
  height: 400px;
  border-radius: 20px;
 }

 #product_index_panel {
  height: 500px;
 }
