<br>
<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  <div class="well">
    <h1 class="text-center">Editing Brand</h1>

    <%= render 'form' %>
  </div>

  <div class="text-center">
    <br>
    <button class="btn btn-xs btn-default">
      <%= link_to 'Show', @brand %>
    </button>
    <button class="btn btn-xs btn-default">
      <%= link_to 'Back', brands_path %>
    </button>
  </div>
</div>