<br>
<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
  <div class="well">
    <h1 class="text-center">New Product</h1>

    <%= render 'form' %>
  </div>
  <br>
  <div class="text-center">
    <button class="btn btn-xs btn-default">
      <%= link_to 'Back', products_path %>
    </button>
  </div>
</div>